:root{
    background-color: #070B0D ;
    color: #f4f5f5;
    font-family: 'poppins',sans-serif;
}
* , ::after,::before{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: #070B0D;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
h1, h2, h3, h4, h5, h6 , button{
    font-family: 'Poppins', sans-serif;
    margin-bottom: 0;
}
p{
    font-family: 'Poppins', sans-serif;
    margin-bottom: 0;
}
  
.container{
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    transition: margin 0.5s ease-in-out;
}

@media  screen and (max-width: 992px){

   
}


@media  screen and (max-width: 768px) {

}

@media  screen and (max-width: 600px) {
   
}



/* -----------custom scrollbar------- */

::-webkit-scrollbar{
    width: 8px;
    
}
::-webkit-scrollbar-track{
    background: #1b1b1b;
    border-radius: 6px;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(rgb(18, 255, 77),#06d888);
    border-radius: 8px;
    
}
