body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: #070B0D;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
h1, h2, h3, h4, h5, h6{
    font-family: 'Poppins', sans-serif;
    margin-bottom: 0;
  }
p{
    font-family: 'Poppins', sans-serif;
    margin-bottom: 0;
  }
  
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500&family=Roboto:wght@400;500&display=swap');

.header{
    position: relative;
}
.sticky-media{
    position: absolute;
    flex-direction: column;
    display: flex;
    justify-content: center;
    justify-items: center;
    margin: 0;
    padding: 0;
    top: -30px;
    left: -10px;
}
.sticky-media .line{
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}


.sticky-media .media-icons{
    flex-direction: column;
    display: flex;
}
.media-icons a{
    
    width: 32px;
    height: 32px;
}
.media-icons a img{
    margin: 0;
    padding: 0;
    width: 32px;
    height: 32px;
}


.header-container{
  
    max-width: 100%;  
    margin: 0;    
    height: 60px;   
    display: flex;   
    justify-content: space-around;   
      
    margin-top: 30px;
}
.header-container .nav-bar{
    background: linear-gradient(90.39deg,hsla(0,7%,74%,.49) -1.14%,hsla(0,0%,80%,.14) -1.13%,rgb(240 255 244/4%) 99.99%);
    width: 1110px;
    
    min-height: 60px;
    display: flex;
    justify-content: space-between;
    border-radius: 24px;
    padding: 0.5em 1em;
    align-items: flex-start;
}
.logo-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 4px;
    width: 100%;
}
.logo{
    display: flex;
    align-self: center;


}
.logo .name{
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    

}
.name .name-suffix{
    color:#1eb63f ;

}

.nav-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 8px;
    
   
    gap:clamp(1.5em,2em,2.5em);
}

.menu-list{
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-left: 1em;
    margin-right: 1em;
    margin: 0;
    gap:clamp(1.5em,2em,2.5em);
}
.menu-item a{
    color: rgba(225, 225, 225, 0.5);
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center; 
    text-decoration: none;
}
.menu-item a:hover{
    color: rgba(225, 225, 225, 0.75);
}
.active a , .active a:hover{
    color: #f4f5f5;
}
.menu-item{
    text-decoration: none;
    color: #f4f5f5;
   
}
.menu-item .hashtag{
    font-family: 'Fira Code', monospace;
    width: 56;
    height: 40;
    color: #1eb63f;
    font-weight: 600;
    font-size: 18px;
    padding-right: 2px;
}
.nav-humbuger-menu{
    background-color: inherit;
    border-radius: 6px;
    border: 1px solid rgba(225, 225, 225, 0.5);
    padding: 4px 10px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}
.nav-humbuger-menu img{
    width: 24px;
    margin: 0;
    padding: 0;
}
.nav-humbuger-menu,.nav-humbuger-menu img{
    display: none;
}



@media  screen and (max-width: 1200px){
    .header-container{  
        max-width: 80%;
        margin: 30px auto;
    }
    
   
}
@media  screen and (max-width: 992px){
    
   
}


@media  screen and (max-width: 768px) {

    .header-container{  
        max-width: 80%;
        margin: 30px auto;
    }

    .nav-humbuger-menu,.nav-humbuger-menu img{
        display: block;
    } 
     
   .nav-container {
        position: relative;
    }

    .nav-bar {
        flex-direction: column;
        height: 60px;
        
        transition: height 0.3s ease-in-out;
        
    }

    .expanded{
        height: 160px;
    }

    .nav-menu {
        display: none;
        position: absolute;
        top: -120px;
        padding: 1em;
        width: auto;
        z-index: 1;
        transition: all linear;
    
    }

    .expanded .nav-menu {
        display: flex;
        transition: none;
    }

    .menu-list {
        display: block;
    }
    .logo .name{
        font-weight: 700;
        font-size: 23px;
    
    }
}


@media  screen and (max-width: 600px) {
    .nav-humbuger-menu,.nav-humbuger-menu img{
        display: block;
    }

    .nav-humbuger-menu,.nav-humbuger-menu img{
        display: block;
    } 
     
   .nav-container {
        position: relative;
    }

    .nav-bar {
        flex-direction: column;
        height: 60px;
        
        transition: height 0.3s ease-in-out;
        
    }

    .expanded{
        height: 160px;
    }

    .nav-menu {
        display: none;
        position: absolute;
        top: -120px;
        padding: 1em;
        width: auto;
        z-index: 1;
    }

    .expanded .nav-menu {
        display: flex;
        transition: none;
    }

    .menu-list {
        display: block;
    }
    .logo .name{
        font-weight: 600;
        font-size: 22px;
    
    }
    .sticky-media{
        display: none;
    }
}

@media  screen and (max-width: 600px) {
    .nav-humbuger-menu,.nav-humbuger-menu img{
        display: block;
    }

    .nav-humbuger-menu,.nav-humbuger-menu img{
        display: block;
    } 
     
   .nav-container {
        position: relative;
    }

    .nav-bar {
        flex-direction: column;
        height: 60px;
        
        transition: height 0.3s ease-in-out;
        
    }

    .expanded{
        height: 160px;
    }

    .nav-menu {
        display: none;
        position: absolute;
        top: -120px;
        padding: 1em;
        width: auto;
        z-index: 1;
    }

    .expanded .nav-menu {
        display: flex;
        transition: none;
    }

    .menu-list {
        display: block;
    }
    .logo .name{
        font-weight: 600;
        font-size: 22px;
    
    }
    .sticky-media{
        display: none;
    }
}

       

